@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: blue;
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 5rem;
  font-family: "Creepster", cursive;
  text-align: center;
  padding: 50px;
}
